<div class="app-dialog">
    <form class="modal-form" [formGroup]="createModuleForm">
        <span class="p-fluid p-field">
            <input pInputText [placeholder]="'Module label'" formControlName="label" />
        </span>
        <span class="p-fluid p-field">
            <input pInputText [placeholder]="'Module id'" formControlName="identifier" />
        </span>
    </form>

    <div class="app-dialog__footer align-right">
        <p-button icon="pi pi-check" label="Create" styleClass="p-button-text" [disabled]="createModuleForm.invalid"
            (onClick)="onClose()"></p-button>
    </div>
</div>