<div class="sidebar">
  <div *ngIf="!loadingConfig.isLoadingData; else loading" class="sidebar__wrapper">
    <div class="sidebar__part">
      <div class="sidebar__info">
        <p class="sidebar__info-company-name">
          {{ systemService.currentCompany.name }}
        </p>
         
        <div class="sidebar__controls">
          <p-button icon="pi pi-cog" styleClass="p-button-text"></p-button>
          <p-button icon="pi pi-ellipsis-v" styleClass="p-button-text"></p-button>
        </div> 
      </div> 

      <p-divider></p-divider>

      <ul class="sidebar__list">
        <ng-container *ngFor="let module of modules">
          <li *ngIf="module.settings.moduleType === 'custom'" class="sidebar__list--element" (click)="openModule(module)">
            <a class="sidebar__list--link">
              <span class="material-icons">
                folder_open
              </span>
              {{ module.label }}
            </a>
          </li>
        </ng-container>
      </ul>
    </div>
    <div class="sidebar__part">
      <ul class="sidebar__list">
        <li class="sidebar__list--element" (click)="navigateTo('configurator')">
          <a class="sidebar__list--link">
            <span class="material-icons">
              toggle_on
            </span>
            Конфигуратор
          </a>
        </li>
        <div class="p-fluid">
          <p-button icon="pi pi-plus" [label]="'Create new module'" (onClick)="onCreateModule()"></p-button>
        </div>
      </ul>
    </div>
  </div>
  <ng-template #loading>

  </ng-template>
</div>